.env
.idea
hosts
nginx/certs/
nginx/conf.d/*.conf
!nginx/conf.d/default.conf
nginx/certs/logs/
nginx/logs/*.log
php/*.log
mysql57/data/
mysql8/data/
php/*.log
php73/*.log
nginx/log/access.log
nginx/log/error.log
